Repository AlonKellner/oyez-scraping: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-requirements, uv-sync, pytest

uv-requirements:
  name: uv-requirements
  entry: uv pip compile pyproject.toml --group dev -o requirements.txt
  language: system
  pass_filenames: false

uv-sync:
  name: uv-sync
  entry: uv sync
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: uv run pytest tests
  language: system
  pass_filenames: false

feat: Refactor scraper.py into multiple modules
  .github/copilot-instructions.md
  pyproject.toml
  requirements.txt
  src/_version.py
  src/api.py
  src/audio.py
  src/models.py
  src/scraper.py
  src/utils.py
  tests/test_basic.py
  uv.lock
Due: uv-requirements, uv-sync, pytest

feat: improve audio processing with better segment extraction
  .devcontainer/Dockerfile
  src/_version.py
  src/audio.py
  src/scraper.py
  src/utils.py
  tests/test_basic.py
  uv.lock
Due: pytest

feat: quite a mess
  .devcontainer/devcontainer.json
  .devcontainer/postStartCommand
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  .vscode/tasks.json
  README.md
  count_all_audio.py
  count_audio.py
  count_audio_case_based.py
  docs/api_investigation/another_direct_case_lookup.json
  docs/api_investigation/api_notes.md
  docs/api_investigation/direct_case_lookup.json
  docs/api_investigation/term_lookup_1_case.json
  docs/api_investigation/term_lookup_5_cases.json
  pyproject.toml
  requirements.txt
  src/_version.py
  src/api.py
  src/audio_stats/__init__.py
  src/audio_stats/collector.py
  src/audio_stats/reporter.py
  src/scraper.py
  tests/audio_stats/__init__.py
  tests/audio_stats/test_collector.py
  tests/audio_stats/test_integration.py
  tests/audio_stats/test_integration_oyez.py
  tests/audio_stats/test_reporter.py
  tests/test_basic.py
  uv.lock
Due: uv-requirements, uv-sync, pytest

fix: starting pretty much from scratch
  .github/copilot-instructions.md
  count_all_audio.py
  count_audio.py
  count_audio_case_based.py
  guidelines/design.md
  guidelines/generic-instructions.md
  guidelines/oyez-agent-instructions.md
  guidelines/past-insights.md
  src/_version.py
  src/api.py
  src/audio.py
  src/audio_io.py
  src/audio_stats/__init__.py
  src/audio_stats/collector.py
  src/audio_stats/reporter.py
  src/models.py
  src/scraper.py
  src/utils.py
  tests/audio_stats/__init__.py
  tests/audio_stats/test_collector.py
  tests/audio_stats/test_integration.py
  tests/audio_stats/test_integration_oyez.py
  tests/audio_stats/test_reporter.py
  tests/test_basic.py
Due: pytest

fix: re-init
  .github/copilot-instructions.md
  guidelines/design.md
  guidelines/oyez-agent-instructions.md
  guidelines/past-insights.md
Due: none

feat: Implement robust audio processing module with comprehensive tests
  .devcontainer/devcontainer.json
  .devcontainer/postStartCommand
  .github/copilot-instructions.md
  .gitignore
  .pre-commit-config.yaml
  README.md
  guidelines/design.md
  guidelines/generic-instructions.md
  guidelines/oyez-agent-instructions.md
  guidelines/past-insights.md
  pyproject.toml
  src/_version.py
  src/audio_io.py
  src/oyez_scraping/__init__.py
  src/oyez_scraping/infrastructure/__init__.py
  src/oyez_scraping/infrastructure/exceptions/__init__.py
  src/oyez_scraping/infrastructure/exceptions/audio_exceptions.py
  src/oyez_scraping/infrastructure/processing/__init__.py
  src/oyez_scraping/infrastructure/processing/audio_io.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/infrastructure/__init__.py
  tests/integration/infrastructure/processing/__init__.py
  tests/integration/infrastructure/processing/test_audio_io.py
  tests/unit/__init__.py
  tests/unit/infrastructure/__init__.py
  tests/unit/infrastructure/processing/__init__.py
  tests/unit/infrastructure/processing/test_audio_io.py
Due: uv-requirements, uv-sync, pytest

feat: Implement robust audio processing module with comprehensive tests
  .devcontainer/devcontainer.json
  .devcontainer/postStartCommand
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  guidelines/copilot-instructions.md
  guidelines/design.md
  guidelines/generic-instructions.md
  guidelines/oyez-agent-instructions.md
  guidelines/past-insights.md
  pyproject.toml
  src/_version.py
  src/audio_io.py
  src/oyez_scraping/__init__.py
  src/oyez_scraping/infrastructure/__init__.py
  src/oyez_scraping/infrastructure/exceptions/__init__.py
  src/oyez_scraping/infrastructure/exceptions/audio_exceptions.py
  src/oyez_scraping/infrastructure/processing/__init__.py
  src/oyez_scraping/infrastructure/processing/audio_io.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/infrastructure/__init__.py
  tests/integration/infrastructure/processing/__init__.py
  tests/integration/infrastructure/processing/test_audio_io.py
  tests/unit/__init__.py
  tests/unit/infrastructure/__init__.py
  tests/unit/infrastructure/processing/__init__.py
  tests/unit/infrastructure/processing/test_audio_io.py
Due: uv-requirements, uv-sync, pytest

feat: add robust Oyez API client with rate limiting and retry logic
  CHANGELOG.md
  docs/api_investigation/direct_case_lookup_updated.json
  docs/api_investigation/oral_argument_updated.json
  docs/api_investigation/term_lookup_multiple_cases.json
  pyproject.toml
  requirements.txt
  src/_version.py
  src/oyez_scraping/infrastructure/api/__init__.py
  src/oyez_scraping/infrastructure/api/case_client.py
  src/oyez_scraping/infrastructure/api/client.py
  src/oyez_scraping/infrastructure/exceptions/api_exceptions.py
  src/oyez_scraping/infrastructure/processing/audio_io.py
  tests/integration/infrastructure/api/test_oyez_api.py
  uv.lock
Due: uv-requirements, uv-sync, pytest

feat: Add support for opinion announcements and dissenting opinions
  CHANGELOG.md
  src/oyez_scraping/infrastructure/api/case_client.py
  tests/integration/infrastructure/api/test_oyez_api.py
Due: pytest

feat: implement get_all_cases and labels parameter support
  src/oyez_scraping/infrastructure/api/case_client.py
  tests/integration/infrastructure/api/test_oyez_api.py
Due: pytest

feat: implement raw data scraping and caching system
  CHANGELOG.md
  examples/cache_explorer.py
  examples/raw_data_demo.py
  src/oyez_scraping/infrastructure/exceptions/storage_exceptions.py
  src/oyez_scraping/infrastructure/storage/__init__.py
  src/oyez_scraping/infrastructure/storage/cache.py
  src/oyez_scraping/infrastructure/storage/filesystem.py
  src/oyez_scraping/services/__init__.py
  src/oyez_scraping/services/raw_data_scraper.py
  tests/integration/services/__init__.py
  tests/integration/services/test_raw_data_scraper.py
  tests/unit/infrastructure/storage/test_cache.py
  tests/unit/infrastructure/storage/test_filesystem.py
Due: pytest

feat: optimize data processing with batch handling and enhanced caching
  CHANGELOG.md
  examples/scrape_all_oyez.py
  src/oyez_scraping/infrastructure/api/rate_limiter.py
  src/oyez_scraping/infrastructure/processing/audio_downloader.py
Due: pytest

fix: add thread safety to cache operations and improve pagination handling
  examples/scrape_all_oyez.py
  src/oyez_scraping/infrastructure/api/case_client.py
  src/oyez_scraping/infrastructure/storage/cache.py
Due: pytest

feat: enhance download resilience and tracking system
  CHANGELOG.md
  examples/cache_explorer.py
  examples/scrape_all_oyez.py
  pyproject.toml
  src/_version.py
  src/oyez_scraping/cli/__init__.py
  src/oyez_scraping/cli/download_cli.py
  src/oyez_scraping/infrastructure/api/rate_limiter.py
  src/oyez_scraping/infrastructure/monitoring/__init__.py
  src/oyez_scraping/infrastructure/monitoring/progress.py
  src/oyez_scraping/infrastructure/storage/download_tracker.py
  src/oyez_scraping/services/download_service.py
  tests/integration/cli/test_download_cli.py
  tests/unit/infrastructure/monitoring/test_progress.py
  tests/unit/infrastructure/storage/test_download_tracker.py
  tests/unit/services/test_download_service.py
  uv.lock
Due: uv-requirements, uv-sync, pytest

fix: correct parameter order in DownloadTracker._save_tracker method
  CHANGELOG.md
  examples/cache_explorer.py
  examples/raw_data_demo.py
  src/oyez_scraping/cli/download_cli.py
  src/oyez_scraping/infrastructure/storage/cache.py
  src/oyez_scraping/infrastructure/storage/download_tracker.py
  src/oyez_scraping/services/raw_data_scraper.py
  tests/unit/infrastructure/storage/test_download_tracker.py
Due: pytest

fix: improve download service with type conversion for MagicMock objects and reduce logging verbosity
  CHANGELOG.md
  src/oyez_scraping/infrastructure/api/case_client.py
  src/oyez_scraping/infrastructure/storage/cache.py
  src/oyez_scraping/services/download_service.py
  src/oyez_scraping/services/raw_data_scraper.py
Due: pytest

feat: failed attempt
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/designs/api_client_refactoring.md
  docs/designs/request_tracking.md
  examples/investigate_pagination.py
  examples/pagination_demo.py
  guidelines/design.md
  src/_version.py
  src/oyez_scraping/infrastructure/api/__init__.py
  src/oyez_scraping/infrastructure/api/case_client.py
  src/oyez_scraping/infrastructure/api/client.py
  src/oyez_scraping/infrastructure/api/pagination_mixin.py
  src/oyez_scraping/infrastructure/api/tracked_client.py
  src/oyez_scraping/infrastructure/exceptions/api_exceptions.py
  src/oyez_scraping/infrastructure/monitoring/request_logger.py
  src/oyez_scraping/infrastructure/monitoring/request_metadata.py
  src/oyez_scraping/infrastructure/monitoring/request_tracker.py
  src/oyez_scraping/services/raw_data_scraper.py
  tests/unit/infrastructure/api/__init__.py
  tests/unit/infrastructure/api/test_case_client.py
  tests/unit/infrastructure/api/test_debug_pagination.py
  tests/unit/infrastructure/api/test_pagination_mixin.py
  tests/unit/infrastructure/monitoring/test_request_logger.py
  tests/unit/infrastructure/monitoring/test_request_metadata.py
  tests/unit/infrastructure/monitoring/test_request_tracker.py
  uv.lock
Due: pytest

feat: .
  src/oyez_scraping/infrastructure/api/case_client.py
Due: pytest

Path conditions:
  uv-requirements: any of: ^pyproject\.toml$
  uv-sync: any of: ^pyproject\.toml$
  pytest: any of: \.py$
